fastapi
uvicorn[standard]
requests
python-multipart
jinja2

# Geoespacial (Requiere GDAL en el sistema)
geopandas
shapely
fiona
pyproj
rtree
owslib
contextily

# Gráficos y Reportes
matplotlib
Pillow
reportlab

# Base de datos
sqlalchemy
psycopg2-binary
pandas
numpy